---
layout: page
refactor: true
panel_includes:
  - toc
tail_includes:
  - post-nav
  - comments
---
<link rel="stylesheet" href="/assets/css/buttons.css">

{% include lang.html %}
{% assign df_strftime_m = site.data.locales[lang].df.archives.strftime | default: '/ %m' %}
{% assign df_dayjs_m = site.data.locales[lang].df.archives.dayjs | default: '/ MM' %}
<link rel="stylesheet"
        href="https://cdn.jsdelivr.net/gh/jpswalsh/academicons@1/css/academicons.min.css">

<h1 data-toc-skip, style="text-align:center;">{{ page.title }}</h1>
<h2 data-toc-skip, style="text-align:center;">{% assign authors = page.authors %}
    <em>
        {% if authors %}
        {% for author in authors %}
        <a href="{{ site.data.authors[author].url }}">{{ site.data.authors[author].name }}</a>
        {% unless forloop.last %}</em>, <em>{% endunless %}
            {% endfor %}
            {% else %}
            <a href="{{ site.social.links[0] }}">{{ site.social.name }}</a>
        {% endif %}, 
        {{page.venue}}
    </em>
</h2>


<div style="text-align:center; width:100%;">
    <!-- PDF Link. -->
    {% if page.pdf %}
      <span class="link-block">
        <a href="{{page.pdf}}"
          class="button">
          <span class="icon">
              <i class="fas fa-file-pdf"></i>
          </span>
          <span>Paper</span>
        </a>
      </span>
    {% endif %}
    {% if page.arxiv %}
      <span class="link-block">
        <a href="{{page.arxiv}}"
          class="button">
          <span class="icon">
              <i class="ai ai-arxiv"></i>
          </span>
          <span>arXiv</span>
        </a>
      </span>
    {% endif %}
    <!-- Video Link. -->
    {% if page.youtube %}
      <span class="link-block">
        <a href="{{page.youtube}}"
          class="button">
          <span class="icon">
              <i class="fab fa-youtube"></i>
          </span>
          <span>Video</span>
        </a>
      </span>
    {% endif %}
    <!-- Code Link. -->
    {% if page.github %}
      <span class="link-block">
        <a href="{{page.github}}"
          class="button">
          <span class="icon">
              <i class="fab fa-github"></i>
          </span>
          <span>Code</span>
          </a>
      </span>
    {% endif %}
    <!-- Dataset Link. -->
    {% if page.dataseturl %}
      <span class="link-block">
        <a href="{{page.dataseturl}}"
          class="button">
          <span class="icon">
              <i class="far fa-images"></i>
          </span>
          <span>Data</span>
          </a>
      </span>
    {% endif %}
</div>


<div class="post-meta text-muted">

  {% if page.image %}
    {% capture src %}src="{{ page.image.path | default: page.image }}"{% endcapture %}
    {% capture class %}class="preview-img{% if page.image.no_bg %}{{ ' no-bg' }}{% endif %}"{% endcapture %}
    {% capture alt %}alt="{{ page.image.alt | xml_escape | default: "Preview Image" }}"{% endcapture %}

    {% capture lqip %}
      {% if page.image.lqip %}
        lqip="{{ page.image.lqip }}"
      {% endif %}
    {% endcapture %}

    <div class="mt-3 mb-3">
      <img {{ src }} {{ class }} {{ alt }} style='max-width: 100%; max-height: 100%; margin: auto; display: block;'  w="1200" h="630" {{ lqip | strip }}>
    </div>
  {% endif %}

</div> <!-- .post-meta -->

<div class="post-content">
  {{ content }}
</div>

<div class="post-tail-wrapper text-muted">

  <div class="post-tail-bottom
    d-flex justify-content-between align-items-center mt-3 pt-5 pb-2">
    <div class="license-wrapper">

      {% if site.data.locales[lang].copyright.license.template %}

        {% capture _replacement %}
        <a href="{{ site.data.locales[lang].copyright.license.link }}">
          {{ site.data.locales[lang].copyright.license.name }}
        </a>
        {% endcapture %}

        {{ site.data.locales[lang].copyright.license.template | replace: ':LICENSE_NAME', _replacement }}

      {% endif %}
    </div>

    {% include post-sharing.html lang=lang %}

  </div><!-- .post-tail-bottom -->

</div><!-- div.post-tail-wrapper -->
